<div class="footer-container">
  <footer class="footer">
    <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/?tid=a3DP2Xb8TcH"/>
    <div class="footer-inner">
    	{% include 'modules/footer/_newsletter' %}
		{% include 'modules/footer/_social' %}
		{% include 'modules/footer/_nav' %}
		{% include 'modules/footer/_info' %}
    </div>
  </footer>
</div>