<div class="footer-nav-container">
  <ul class="footer-nav">
    <li class="footer-nav-item">
      <a href="">account</a>
    </li><li class="footer-nav-item">
      <a href="">faq</a>
    </li><li class="footer-nav-item">
      <a href="">shipping</a>
    </li><li class="footer-nav-item">
      <a href="">returns</a>
    </li><li class="footer-nav-item">
      <a href="">location</a>
    </li>
  </ul>
  <ul class="footer-nav">
    <li class="footer-nav-item">
      <a href="">refer a friend</a>
    </li><li class="footer-nav-item">
      <a href="">press</a>
    </li><li class="footer-nav-item">
      <a href="" target="_blank">jobs</a>
    </li><li class="footer-nav-item">
      <a href="https://www.grana.com/themodern">blog</a>
    </li>
  </ul>
</div>