<header id="head" class="header-menu">
	<div class="header-menu-left">
	    <div class="header-menu-item header-menu-item-hover header-menu-left-item header-menu-left-item-first">
	      <a href="" class="header-menu-item-link" alt="women" data-sub="women">
	        women
	      </a>
	    </div>
	    <div class="header-menu-item header-menu-item-hover header-menu-left-item">
	      <a href="" class="header-menu-item-link" alt="men" data-sub="men">
			men
	      </a>
	    </div>
	    <div class="header-menu-item header-menu-left-item header-menu-left-item">
	        <a href="" class="header-menu-item-link" alt="blog">
	            blog
	        </a>
	    </div>
	    <div class="header-menu-item header-menu-left-item header-menu-left-item">
	      <a href="" class="header-menu-item-link" alt="about">
	          about
	      </a>
	    </div>
	    <div class="header-menu-item header-menu-item-hover header-menu-left-item header-menu-left-item">
	        <a href="" class="header-menu-item-link" alt="fabrics">
	            fabrics
	        </a>
	    </div>
	</div>
	<div class="header-menu-middle">
		<a class="header-logo" href="" title="Grana"></a>
	</div>
	<div class="header-menu-right">
	  <div class="header-menu-item header-menu-right-item" data-caption="popups">
	    <a href="" class="header-menu-item-link">
	      <div class="header-menu-item-shops"></div>
	    </a>
	  </div>
	  <div class="header-menu-item header-menu-right-item" data-caption="login/signup">
	    <a href="" class="header-menu-item-link">
	      <div class="header-menu-item-account"></div>
	    </a>
	  </div>
	  <div class="header-menu-item header-menu-right-item" data-caption="your bag">
	  </div>
	</div>
</header>