<div class="top-info">
    <div class="top-info-left">
        free shipping over x amount
        <span class="top-info-seperator">/</span>
       	free and simple exchanges
    </div>
    <div class="top-info-right">
        <a href="">Earn $10</a>
        <div class="switcher" id="switcher-store">
		    <a href="">
		      <figure class="flag-small flag-icon flag-icon-us"></figure><div class="switcher-current">
		          <span class="switcher-current-name">United States</span>
		          <span class="switcher-current-symbol">US$</span>
		        </div>
		    </a>
		</div>
    </div>
</div>